.header__logo {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 45px 0 41px;
}

@media screen and (max-width: 900px) {
  .header__logo {
    margin: 28px  0 32px 27px;
  }
}

@media screen and (max-width: 320px) {
  .header__logo {
    max-width: 126px;
  }
}
