.places__like-btn::after {
  content: url("../../../images/places/like_btn_svg/like_btn_unactive.svg");
}
.places__like-btn:hover {
  animation: heartbeat 0.5s ease-in-out infinite both;
}

.places__like-btn:hover::after {
  content: url("../../../images/places/like_btn_svg/like_btn_hover.svg");
}
